// Color configuration
$accentColor = #3eaf7c

// Color configuration
$accentColor = #40C4FF
$accentColor = #5799c3
$accentColor = #5799c3
$textColor = #2c3e50
$textColor = #424242
$borderColor = #eaecef
$codeBgColor = #282c34

// Layout configuration
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// Radius
$borderRadius = 15px
$backgroundColor = #ECEFF1
