html, body , .navbar, .sidebar, .theme-container .navbar, .theme-container .sidebar, .navbar .links
  background-color: #ECEFF1

.theme-container .search-box input, .theme-container .search-box .suggestion a
  color: #009688

.theme-container .content code
  background-color: #2e3d44
