@require '~vuepress/lib/default-theme/styles/config'

html, body , .navbar, .sidebar, .theme-container .navbar, .theme-container .sidebar, .navbar .links
  background-color: $backgroundColor

.theme-container .search-box input, .theme-container .search-box .suggestion a
  color: $accentColor

div[class*="language-"]
  border-radius: $borderRadius

